<!--bookの詳細ページ-->

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<!--Userプロフィール-->
			<%= render 'users/profile', user: current_user %>
			<!--Userプロフィール-->
			<%= render 'books/form', book: @book %>
		</div>
	
		<div class="col-md-8">
			<!--ユーザーが投稿したbook一覧-->
			<%= render 'books/book_detail', book: @book_detail, user: @user %>
		</div>
	</div>
</div>

